.CompanyItem {
	
}

.CompanyItem .CustomLink {
    color: black;
    /* margin-bottom: 15px;
    font-size: 30px;
    text-decoration: none; */
}


.CompanyItem .CustomLink .active {
    color: black;
    border-bottom: 3px solid black;
    /* font-weight: 700;
    font-size: xx-large;
    text-decoration: dashed; */
}
